


/* DOM STYLING */
.green{
    height: 115px;
    width: 33.3%;
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
}

.table-label{
    font-size:22px;
    
}



/* Table Styles  CSS LAYOUT */
table {
    width: 100%;
    border-collapse: collapse;
    
} 

/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #3498db;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 18px;
}

@media only screen and (max-width: 959px){
    
    table {
        width: 100%;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 20%;
        width: 40%;
        float: left;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        padding-left: 15px;
        white-space: nowrap;
        content: attr(data-column);
        color: #000;
        font-weight: bold;
    }

}
@media only screen  and (max-width:700px){
    td{
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    .row {
     margin: 0px;
    }
}