
<div class="container">
  <div class="table-label">DOM STYLING</div>
  <div class="row">
    <div class="green" [ngStyle]="{'background':getColor(dom.key)}" *ngFor="let dom of domLayout">{{dom.value}}</div>
  </div>
  
  
  
  
  
  <div class="table-label">CSS LAYOUT</div>
  
  <table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Subject</th>
            <th>From</th>
            <th>Attachments</th>
            <th>Types</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-column="Date">23rd</td>
            <td data-column="Subject">maths</td>
            <td data-column="From">Ram</td>
            <td data-column="Attachments">@james</td>
            <td data-column="Types">Types</td>
        </tr>
        <tr>
            <td data-column="Date">24th</td>
            <td data-column="Subject">computers</td>
            <td data-column="From">Kumar</td>
            <td data-column="Attachments">@karan</td>
            <td data-column="Types">Text</td>
        </tr>
    </tbody>
  </table>
  
</div>
<router-outlet></router-outlet>